.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;


    &__navigation{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;


        &__title{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 60px;
    
            >img{
                margin-right: 20px;
            }
        }


        &__menu{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
    

            &__link{
                margin-bottom: 20px;
                display: flex;
                align-items: center;
    
                >div{
                    width: 50px;
                    padding-left: 16px;
                    display: flex;
                    align-items: center;
                }

                >span{
                    color:  #c7c7c7;
                }
            }
        }
    }

    &__logout{
        display: flex;
        align-items: center;

        >div{
            width: 50px;
        }

        >span{
            color: #c7c7c7;
        }

        >span:hover{
            color: #197BBD;
        }
    }
}

.--selected{
    background: #F0F7FF;
    border-radius: 4px;
    padding: 8px 0;

    >span{
        color:  #197BBD;
        font-weight: 500;
    }
}

.--active{
    color:  #197BBD !important;
}