.table{
    width: 100%;
    padding-top: 20px;
    
    >table{
        width: 100%;
        text-align: center;
        border: 1px solid grey;
        border-collapse: collapse;
        
        >tr{
            >td{
                padding: 4px;
                
                >svg{
                    cursor: pointer;
                }
            }
        }

        >.title{
            font-size: 14px;
            background-color: #4F9ACD;
            color: #fff;

            >td{
                border-bottom: 1px solid #fff;
            }
        }
        
        >.item{
            font-size: 12px;
            cursor: pointer;

            >td{
                border: 1px solid grey;
            }
            
            >td:nth-last-child(1){
                // padding-right: 0;
                >table{
                    >tr{
                        >td{
                            // padding-left: 10px;

                            >svg{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        >.item:hover{
            background-color:  #F4F5F7;
        }
        
    }
}